
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body,html{
  height: 100%;
  padding: 0px;
  margin: 0px;
}

*body{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form{
  display: flex;
  flex-direction: column;
  width: 300px;
  h1{
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
  }
  label:before{
    content: '* ';
    color:#d50000;
  }
  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px;
    border: 1px solid #aaa;
    border-radius: 3px;
    &:last-of-type{
      flex-direction: column;
      border:none;
      width: 100%;
    }
    input{
      flex-grow: 1;
      padding: 10px;
      border: none;
      outline: none;
    }
    i{
      font-size: 14px !important;
      padding: 0px 10px 0px 0px;
      color:#aaa;
      &:hover{
        cursor: pointer;
      }
    }
    input[type='submit']{
      align-self: flex-end;
      padding: 8px;
      text-transform: uppercase;
      border: 1px solid #E7E7E7;
      border-radius: 3px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}